// About page (/about)

.markdown {
  p {
    margin: auto;
    overflow-wrap: anywhere;
    word-break: break-word;
    text-align: justify;
    text-align-last: left;
  }

  h1 {
    font-size: 0.8em;
    margin-top: 3em;
  }
}
